In [24]:
!pip3 install fuzzywuzzy[speedup]

Requirement already satisfied: fuzzywuzzy[speedup] in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (0.18.0)
Requirement already satisfied: python-levenshtein>=0.12 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from fuzzywuzzy[speedup]) (0.12.2)
Requirement already satisfied: setuptools in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from python-levenshtein>=0.12->fuzzywuzzy[speedup]) (58.5.3)
WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the '/home/ec2-user/anaconda3/envs/python3/bin/python -m pip install --upgrade pip' command.

In [25]:
import time
from time import sleep
import json
from datetime import datetime
import boto3
import pandas as pd
from fuzzywuzzy import process, fuzz

In [26]:
# Build a map to convert a movie id to the movie title
movies = pd.read_csv('data/items.csv', usecols=[0,1])
movies['item_id'] = movies['item_id'].astype(str)
movie_map = dict(movies.values)

In [27]:
#Input movie name, use fuzzymatch, then select top match
input_movie = str(input())
options_movie = process.extract(input_movie, movie_map.items(), scorer = fuzz.partial_token_sort_ratio)
chosen_movie = options_movie[0][0][0]

# Calling AWS Personalize API using boto3
personalizeRt = boto3.client('personalize-runtime')

response = personalizeRt.get_recommendations(
    campaignArn = 'arn:aws:personalize:us-east-1:602669927281:campaign/movie-SIMS',
    itemId = chosen_movie,
    numResults = 10
)

#Get results from API and map to movie name
item_list =response['itemList']

recommendation_list = []

for item in item_list:
    title = movie_map[item['itemId']]
    recommendation_list.append(title)

print("Recommended movies for {}".format(movie_map[chosen_movie]))
recommendations_df = pd.DataFrame(recommendation_list, columns = ['Suggested Movies'])
recommendations_df.head(10)

 Toy Story

Recommended movies for Toy Story (1995)

                             Suggested Movies
0                          Toy Story 2 (1999)
1  Willy Wonka & the Chocolate Factory (1971)
2        Independence Day (a.k.a. ID4) (1996)
3                              Twister (1996)
4                  Mission: Impossible (1996)
5                              Aladdin (1992)
6                   Back to the Future (1985)
7                        Birdcage, The (1996)
8                       Lion King, The (1994)
9                            Rock, The (1996)

In [35]:
#Input movie name, use fuzzymatch, then select top match
input_movie = str(input())
options_movie = process.extract(input_movie, movie_map.items(), scorer = fuzz.partial_token_sort_ratio)
chosen_movie = options_movie[0][0][0]

# Calling AWS Personalize API using boto3
personalizeRt = boto3.client('personalize-runtime')

response = personalizeRt.get_recommendations(
    campaignArn = 'arn:aws:personalize:us-east-1:602669927281:campaign/movie-SIMS',
    itemId = chosen_movie,
    numResults = 10
)

#Get results from API and map to movie name
item_list =response['itemList']

recommendation_list = []

for item in item_list:
    title = movie_map[item['itemId']]
    recommendation_list.append(title)

print("Recommended movies for {}".format(movie_map[chosen_movie]))
recommendations_df = pd.DataFrame(recommendation_list, columns = ['Suggested Movies'])
recommendations_df.head(10)

 Inception

Recommended movies for Inception (2010)

                Suggested Movies
0        Dark Knight, The (2008)
1            Interstellar (2014)
2  Dark Knight Rises, The (2012)
3        Django Unchained (2012)
4          Shutter Island (2010)
5    Inglourious Basterds (2009)
6                      Up (2009)
7      The Imitation Game (2014)
8                  Avatar (2009)
9                  WALL·E (2008)